<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/hasil.css') }}">
    <title>Hasil</title>
</head>
<body>
    <main>
        <h1>Hasil</h1>
        <p>Salary: {{facts["Salary"]}}</p>
        <p>Gaji Lembur: {{facts["Gaji Lembur"]}}</p>
        <p>Bonus: {{facts["Bonus"]}}</p>
        <p>Gaji Diterima: {{facts["Gaji Diterima"]}}</p>
    </main>
</body>
</html>